<!DOCTYPE html>
<html>
  <head>
    <body style = "background-color: #c2c2d6;"> 
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-8">
          <div class="input-group" id="searchBar">
            
            <!-- 
              
                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="search" />
          </div>
          <div class="tableWrapper">              
              <table class="table table-sm table-hover">
                <thead>
              <tr>
                <th>Code</th>
                <th>Building Name</th>
              </tr>
                </thead>
              <!-- 


                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                -->
                <tr ng-repeat= "entries in listings | filter:search">
                 <td>{{entries.code}}</td>
                 <td> <button class = "btn btn-link" ng-click = "showDetails(entries.code)"> {{entries.name}}</button></td>
                 <td><button class="btn btn-danger" ng-click="deleteListing(entries.code)">Remove</button></td>
                </tr>
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
        </div>
        <div class="col-xs-4"> 
          <div class = "row">
            <div class = "col-xs-12">
                <div style="background:#ffb3e6 !important"class="jumbotron">
                    <h2>Detailed Information</h2>
                    <table style="border-spacing: 10px;">
                    <tr>
                    <td> Building Code: {{detailedInfo.code}} </td>
                    </tr>
                    <tr>
                      <td> Building name: {{detailedInfo.name}}</td>
                    </tr>
                    <tr>
                      <td> Address: {{detailedInfo.address}}</td>
                    </tr>
                    <tr>
                      <td> Latitude: {{detailedInfo.coordinates.latitude}}</td>
                    </tr>
                    <tr>
                        <td> Longitude: {{detailedInfo.coordinates.longitude}}</td>
                      </tr>
                  </table>
                </div>
            </div>
          </div>
          <div class = "row">
              <div class = "col-xs-12">
                  <div style="background:#ffb3e6 !important"class="jumbotron">
                      <div class = "form group">
                        
                          <label for ="code">Code </label>
                          <input type="text" class="form-control" ng-model="code" placeholder="Enter building code">
                      </div>
                      <div class = "form group">
                          <label for ="buildingName">Building Name </label>
                          <input type="text" class="form-control" ng-model="buildingName" placeholder="Enter building name">
                      </div>
                      <div class = "form group">
                        <label for ="address">Address </label>
                        <input type="text" class="form-control" ng-model="address" placeholder="Enter address">
                    </div>
                    <div class = "form group">
                      <label for ="latitude">Latitude </label>
                      <input type="number" class="form-control" ng-model="latitude" placeholder="Enter the latitude">
                  </div>
                  <div class = "form group">
                    <label for ="longitude">longitude </label>
                    <input type="number" class="form-control" ng-model="longitude" placeholder="Enter the longitude">
                </div>
                      <th><button class="btn btn-success" ng-click="addListing(code, buildingName, address, latitude, longitude)">Submit</button></th>
                          </div>
              </div>
          </div>
          


            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
          </div>
          
         
        </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>